#majorclub_layer1_catalog img #c{
	left: 0px;
}
#content {text-align:center;
	 /*font-family:'微軟正黑體';*/	}
.majorclub_streamerlist{
	white-space:nowrap;
}
.subtitle{
	margin: 0px auto;
	/*width:300px;*/
	/*height:300px;*/
	width:500px;
	height:129px;
	/*transition:width 2s, height 2s;*/
}

#majorclub_layer1_catalog{
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:30px;
	height:450px;
	width:920px;
}
#majorclub_layer1_catalog img{
	width:298px;
	left:10px;
	position:relative;
}
#stu{
	bottom:-55px;
	cursor: pointer;
}
.majorclub_streamerlist_outter-box{
	position:relative; 
	/*width:100%;*/
	text-align:center;
	display: inline-block;
	overflow:hidden; 
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:-20px;
	height:450px;
	width:920px;
}
/*#outter_box_stu{
	margin-left:-35px;
}	*/
/*#outter_box_entry{
	margin-left:-23px;
	width:937px;
}*/
.vector{
	margin:-36px -39px;
	margin-left:-17px;
	z-index:5;
	cursor: pointer;
}
.majorclub_streamerlist_inner-box{
	position:relative;
	width:74%;
	/*z-index:1;*/
	height:250px;
	display:inline-block;
	overflow-x:hidden;
	top:90px;
	/*margin-left: -27px;*/
}
#inner_box_m{
	margin-left:30px;
	/*top:90px;*/
}
/*#inner_box_stu{
	margin-left: -27px;
	left:27px;
}*/
.majorclub_streamerlist_img #second_cata10,#second_cata11 {
	width:235px;
}
#second_cata10{
	margin-left:58px;
}
#second_cata11{
	margin-left:78px;
}
/*#inner_box_c{
	margin-left:30px;
}*/
#inner_box_en{
	left:12px;
	width:666px;
}
.majorclub_streamerlist_img{
	height:100%;
	/*width:4000px;*/
	width:auto;
	position:relative;
	text-align:left;
	white-space:nowrap;

}
.majorclub_streamerlist_img img{
	position:relative;
	/*width:168px;*/
	margin-top: 10px;
	/*margin-top:0px;*/
	width:218px;
	/*left:-10px;*/
}
#majorclub_layer2_quality_m{
	/*left:56px;	*/
}

/*#majorclub_layer2_quality_stu img{
	width:235px;
}*/
/*#majorclub_layer2_quality_c img{
	width:218px;
	left:22px;
}*/
#majorclub_layer3_entry{
	left:20px;
}
#majorclub_layer3_entry img{
	width:216px;
	/*left:-8px;*/
	position:relative;
	padding-bottom:8px;
	/*bottom:-7px;*/
}
.vector_entry{
	margin:-36px -19px;
	margin-left:2px;
	z-index:5;	
	cursor: pointer;
}
#son5
{
	width:100%;
	height:100%;
	position: relative;
	top: 0px;
	background-repeat: no-repeat;
}
#majorclub_body-subtitle{
	height: 0px;
	background-repeat: no-repeat;
	width: 80%;
	z-index: 15;
	margin: 0 auto;
	position: relative;
	top: 1%;
}

#majorclub_body-subtitle h1{
	font-size: 250%;
	font-family: '標楷體';
	margin: 4% auto;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0px;
	top:10px;
}
#majorclub_body-subtitle img{
	position: absolute;
	height: 148px;
	width: 100%;
	left: 0px;
	top: -1%;
	z-index: -1;
}
#majorclub_dialog{
	width:100%;
	height:80%;
	position: absolute;
	text-align:center;
	top: 21.5%;
	overflow: hidden;
}
#majorclub_wrap{
	position:absolute;
	top:0px;
	width:100%;
}
#majorclub_body-content{
	height:100%;
	width:100%;
	position: relative;
	top: 0px;
	line-height: 180%;
}
.content_intro{
	width:50%;
	margin: 0 auto;
}
.content_intro p{
	text-align: left;
}
#editform{
	text-align: left;	
}
#textField{
	width:auto;
}
#de_changepic{
	position:relative;
	width:620px;
	height:85px;
	margin:0 auto;
}
#deletes{
	display:inline-block;
	position:absolute;
	z-index:2;
	top:-4px;
	left:0px;
}
.ch_pic_n img{
-webkit-border-radius: 10px;
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius: 10px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomleft: 50px;
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
position: relative;
}
#ch_pic_group1,#ch_pic_group2,#ch_pic_group3,#ch_pic_group4,#ch_pic_group5{
	position: relative;
}
#ch_pic_group4{
	left:0px;
}
#ch_pic_group2{
	left:120px;
}
#ch_pic_group1{
	left:240px;
}
#ch_pic_group3{
	left:360px;
}
#ch_pic_group5{
	left:480px;
}
.overlap_thisdata{
	position:absolute;
	height:25px;
	display:inline-block;
	width:25px;
	left:97px;
	top:-4px;
}
.delete_thisdata{
	position:absolute;
	height:20px;
	top:5px;
	left:2px;
}
.delete_thisdata img{
height:100%;
}
.delete_form_thisdata{
	position:absolute;
	opacity:0;
}
/*#majorclub_change_pic{
	float:left;
}*/
.ch_pic_n{
	display:inline-block;
	position:absolute;
	cursor: pointer;
}
#overlap{
	position:absolute;/*重疊必須*/
	width:120px;
	height:80px;
	display:inline-block;/*div水平排列*/
}
#upload_field{
	position:absolute;/*重疊必須*/
	left:0;
	top:26px;
	z-index:10;
	/*opacity:0;*/
}
#upload_field form{
	width:120px;
}
#majorclub_change_pic img{
	width: 120px;
	height:80px;
	position:relative;
-webkit-border-radius: 10px;
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius: 10px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomleft: 50px;
border-radius: 10px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
}
#majorclub_pictures{
	clear:both;
	margin:0 auto;
}
#majorclub_pictures img{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/*height:450px;*/
width:600px;
position:relative;
}
.first_button{
	cursor: pointer;
}
.second_button{
	cursor: pointer;
}
.list_button{
	cursor: pointer;
}
#majorclub_div_show #close {
  background: red;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
  left: 97%;
  top: 8%;
}
#img_bg{
	position:absolute;
	top: 60px;
	width:100%;
	z-index: -2;
}

#img_bg img
{
	width: 100%;
}
#bg_color
{
	background-color: rgba(152, 166, 251, 1.0);
	position: absolute;
	width: 100%;
	top: 10%;
	height: 90%;
	z-index: -5;
	border-radius: 10px;
}
#entry_go{
	visibility: hidden;
}
#vector_go_m{
	visibility: hidden;	
}